<div class="container d-flex justify-content-center align-items-center my-7" style="min-height: 100vh;">
    <div class="card custom-card-bg" style="max-width: 500px; width: 100%;">
        <div class="card-header">
            <h5 class="card-title custom-title">{{ user.id ? 'UPDATE' : 'CREATE' }} USER</h5>
        </div>
        <div class="card-body">
            <form (ngSubmit)="onSubmit(userForm)" class="form-container my-1  custom-card-body" #userForm="ngForm">
                <div class="input-group mb-2">
                    <span class="input-group-text">
                        <i class='bx bxs-user'></i>
                    </span>
                    <input placeholder="Name" name="name" [(ngModel)]="user.name" class="form-control my-2"
                        #name="ngModel">
                </div>
                @if(errors?.name){
                <div class="text-danger "><strong>{{errors.name}}</strong></div> }
                <!-- todos los siguientes if podriamos quitarlos ya que estamos utilzando otro tipo de validacion-->
                <!-- @if(name.invalid && (name.dirty || name.touched)){
                @if(name.errors!['required']){
                <div class="text-danger text-center"><strong>Nombre requerido </strong></div>
                }
                @if(name.errors!['maxlength']){
                <div class="text-danger text-center"><strong>Máximo 20 letras </strong></div>
                }
                } -->
                <div class="input-group mb-2">
                    <span class="input-group-text">
                        <i class='bx bxs-user'></i>
                    </span>
                    <input placeholder="LastName" name="lastName" [(ngModel)]="user.lastName" class="form-control my-2"
                        #lastName="ngModel">
                    <!-- required-->
                    <!-- maxlength="20"-->
                </div>
                @if(errors?.lastName){
                <div class="text-danger "><strong>{{errors.lastName}}</strong></div> }
                <div class="input-group mb-2">
                    <span class="input-group-text">
                        <i class='bx bxs-envelope'></i>
                    </span>
                    <input placeholder="Email" name="email" type="email" [(ngModel)]="user.email"
                        class="form-control my-2" #email="ngModel">
                    <!-- required-->
                    <!-- email-->
                </div>
                @if(errors?.email){
                <div class="text-danger "><strong>{{errors.email}}</strong></div> }
                <div class="input-group mb-2">
                    <span class="input-group-text">
                        <i class='bx bxs-face'></i>
                    </span>
                    <input placeholder="userName" name="userName" [(ngModel)]="user.userName" class="form-control my-2"
                        #userName="ngModel">
                    <!-- required-->
                    <!-- maxlength="20"-->
                </div>
                @if(errors?.userName){
                <div class="text-danger "><strong>{{errors.userName}}</strong></div> }
                @if(user.id == 0){
                    <div class="input-group mb-2">
                        <span class="input-group-text">
                            <i class='bx bxs-lock-alt'></i>
                        </span>
                        <input placeholder="Password" name="password" type="password" [(ngModel)]="user.password"
                            class="form-control my-2" #password="ngModel">
                    </div>
                    @if(errors?.password){
                    <div class="text-danger "><strong>{{errors.password}}</strong></div>
                    }
                }
                <div class="text-center">
                    <button type="submit" class="btn btn-create my-2 btn-sm"> <!--[disabled]="userForm.invalid-->
                        {{ user.id ? 'UPDATE' : 'CREATE' }}
                    </button>
                </div>
            </form>
        </div>
    </div>
