<div class="container d-flex justify-content-center align-items-center" style="height: 100vh;">
    <div class="text-center">
      <div class="alert alert-danger p-4 rounded shadow" style="max-width: 600px; margin: auto;">
        <h1 class="display-3 fw-bold mb-3">¡Acceso No Permitido!</h1> <!-- Margen inferior en el título -->
        <p class="lead mb-2">Lo sentimos, no tienes los permisos necesarios para acceder a este recurso.</p> <!-- Margen inferior en el párrafo -->
        <a href="/" class="btn-back-home btn-lg mt-4">Volver al inicio</a> <!-- Margen superior en el botón -->
      </div>
    </div>
  </div>
  